<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pages</title>
</head>

<body>
    <%- include('../layout/adminheader') -%>

    <div class="row">
        <div class="col-md">
            <h2 class="page-title text-center">Pages Data</h2>
            <hr style=" width:170px; border-color: brown; ">
            <a href="/admin/pages/add-page" class="btn btn-primary mb-4">Add a new page</a>
        </div>
    </div>
    <table class="table table-striped sorting">
        <thead class="bg-info text-center">
            <tr class="home">
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <% pages.forEach(function(page){ %>
            <tr id="id_<%= page._id %>" class="<%= page.link %>">
                <td><%= page.title %></td>
                <td><a href="/admin/pages/edit-page/<%= page._id %>" class="btn btn-warning">Edit</a></td>
                <% if(page.link == "home"){ %>
                <td></td>
                <% }else{ %>
                <td><a href="/admin/pages/delete-page/<%= page._id %>" class="confirmDeletion btn btn-danger">Delete</a>
                </td>
                <% } %>
            </tr>
            <% });  %>
        </tbody>
    </table>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script>
        $('tbody').sortable({

            items: "tr:not('.home')",
            placeholder: "ui-state-hightlight",
            update: function () {
                var id = $('tbody').sortable('serialize');
                var url = "/admin/reorder-pages";

                $.post(url, id);
            }
        });
    </script>
    <%- include('../layout/adminfooter') -%>
</body>

</html>