<%- include ('layout/header') %>

<div class="row product text-center">
    <% product.forEach(function(pro){ %>
    <div class="col-12 col-md-4 p">
        <a class=" pahref" href="/product/<%= pro.kategories %>/<%= pro.link %>">
        <img src="/product_images/<%= pro.id %>/<%= pro.image %>" class="pimage ">
        </a>
        <h5><%= pro.title %></h3>
        <h6>Rp. <%= pro.price %></h6>
        <a href="/products/detail/<%= pro.link %>" class="pdetail btn btn-info">View Detail</a>

    </div>
    <% }); %>
</div>


<%-include ('layout/footer') %>