<%- include ('layout/header') %>
<% //if(user){ %>
<h2 class="text-center"><%= title %></h2 class="text-center">
<form action="/cart/save" method="post">
    <div class="form-group">
        <label>Nama Penerima</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Silahkan isi Name">
    </div>
    <div class="form-group">
        <label>Email Penerima</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Silahkan isi Email">
    </div>
    <div class="form-group">
        <label>Nomor Telepon</label>
        <input type="number" name="notelp" id="username" class="form-control" placeholder="Silahkan isi Username">
    </div>
    <div class="form-group">
        <label>Alamat</label>
        <textarea type="text" name="alamat" class="form-control" placeholder="Silahkan isi alamat"></textarea>
    </div>
    <input type="hidden" name="username" value="<%//= user.username %>">
    <table class="table table-striped alignmiddle">

        <tr class="bg-warning">
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>

        <% var total = 0; %>
        <% cart.forEach(function(product){ %>
        <% var sub = product.qty * product.price %>
        <% total += +sub %>
        <style>
            .cpi {
                width: 80px;
            }
        </style>
        <tr>
            <th><img src="<%= product.image %>" class="cpi"></th>
            <th><%= product.title %></th>
            <th><%= product.price %></th>
            <th><%= product.qty %></th>
            <th>Rp. <%= sub %></th>
        </tr>
        <% }); %>

        <tr>
            <td colspan="6" align="right"><b>Total : </b> Rp. <%= total %></td>
        </tr>
    </table>
    <input type="hidden" name="total" value="<%= total %>">
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>
<%// }else{ %>
    <h1>Anda harus <a href="/user/login">LOGIN</a>Terlebih dahulu!</h1>
    <%// } %>
<%- include ('layout/footer') %>