<%- include ('layout/header') %>

<div class="row product ">
    <% product.forEach(function(pro){ %>
    <div class="col-12 col-md-4 p" style="margin-top: 20; margin-bottom: 20px;">
        <a class="pahref" style="display:inline-block; height:160px;"
            href="/product/<%= pro.kategories %>/<%= pro.link %>">
            <img src="/product_images/<%= pro.id %>/<%= pro.image %>" class="pimage" style="width:150px; ">
        </a>
        <h3><%= pro.title %></h3>
        <h4>Rp. <%= pro.price %></h4>
        <a href="/products/detail/<%= pro.link %>" class="pdetail">View Detail</a>
    </div>
    <% }); %>
</div>


<%-include ('layout/footer') %>