<%- include ('layout/header') %>
<h1 class="page-header"><%= product.title %></h1>
<div class="row">
    <div class="col-12 col-md-5">
        <img src="/product_images/<%= product._id %>/<%= product.image %>" class="spi">
    </div>
    <div class="col-12 col-md-7">
        <p><%= product.desc %></p>
        <p><% if (product.qty == 0){ %> 
           <span class='badge badge-danger'>Tidak tersedia</span>
          <% }else{ %>
          <span class='badge badge-success'>Tersedia</span>
         <% } %> 
        </p>
        <p>Rp. <%= product.price %></p>
        <p> <a href="/cart/add/<%= product.link %>" class="btn btn-primary"> Add to Cart</a></p>
    </div>
</div>
<%- include ('layout/footer') %>